<div class="w3-top" >
    <div class="w3-bar w3-white w3-wide w3-padding w3-card" style="background-color:#1d539f !important; box-shadow: #1d539f ;" >
      <a href="#home" class="w3-bar-item w3-button" >
        <div class="nav-logo">
            <img src="./assets/img/logo.svg" >
        </div>
      </a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small"  >
        <a href="#profilee" class="w3-bar-item w3-button" style="font-size: 15px;   color: white ">Home</a>
        <a href="#profilee" class="w3-bar-item w3-button" style="font-size: 15px;   color: white ">Projects</a>
        <a href="#projects" class="w3-bar-item w3-button" style="font-size: 15px;  color: white ">Work Experience</a>
        <a href="#work" class="w3-bar-item w3-button" style="font-size: 15px;  color: white ">Education</a>
        <a href="#education" class="w3-bar-item w3-button" style="font-size: 15px;  color: white ">Resume</a>
        <a href="#resume" class="w3-bar-item w3-button" style="font-size: 15px;  color: white ">Social Media</a>
        <a href="#social" class="w3-bar-item w3-button" style="font-size: 15px;  color: white ">Get In Touch</a>


      </div>
    </div>
  </div>