
    <!-- <link rel="stylesheet" href="menu.scss"> -->


    <!-- <menu class="navbar">
        <div class="brand-title">MLH Fellowship</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Work Experiance</a></li>
            <li><a href="#">Resume</a></li>
    
          </ul>
        </div>
    </menu> -->
    

