<header class="nav-bar">
    <div class="nav-content row">
        <a href="{{ '/' | relative_url }}" class="col-md-6">
            <div class="nav-logo">
                <img src="./assets/img/logo.svg" />
            </div>
        </a>
        <div class="container col-md-6 d-flex flex-row-reverse">
            <label id="switch" class="switch">

                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
            <!-- <button id="switch" onclick="toggleTheme()">Switch</button> -->
        </div>
    </div>
</header>