<h2 class="darkHeading">Projects</h2>
<div class="card-container">
  {% for item in site.data.projects %}
  {% if item.page-name %}
  <a id="p1" href="/projects/{{ item.page-name }}">
    {% else %}
    <a>
      {% endif %}
      <div class="card">
        <div class="info">
          <p class="title">{{ item.title }}</p>
          <p class="location">{{ item.event }}</p>
          <p class="dates">{{ item.date }}</p>
        </div>
      </div>
    </a>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link href="http://codegena.com/assets/css/image-preview-for-link.css" rel="stylesheet">
    <script type="text/javascript">
      $(function () {
        $('#p1').miniPreview({ prefetch: 'pageload' });
        $('#p2 a').miniPreview({ prefetch: 'parenthover' });
        $('#p3 a').miniPreview({ prefetch: 'none' });
      });
    </script>
    <script src="http://codegena.com/assets/js/image-preview-for-link.js"></script>
    {% endfor %}

    {% for item in site.data.githubstats %}
    <div class="card p-0">
      <img id="stats" src={{item.link}}>
    </div>
    {% endfor %}

  </div>