.bio {
    background-color: #686868 !important;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    h3 {
        font-size: 25px;
        font-weight: 700;
        color: white;
    }
    h4 {
        font-size: 18px;
        font-weight: 500;
        color: white;
    }
    .bio-text {
        text-align: center;
        color: white;
        font-weight: 400 !important;
    }
}